/* Basic CSS reset */
*,
:after,
:before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

.page_body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 40px;
}

p {
	font-size: 20px;
	line-height: 1.7;
}

label {
	color: #fff;
	font-size: 18px;
}

/* Navigation */

.topnav {
	width: 100%;
	justify-content: center;
	vertical-align: middle;
	padding: 25px 60px;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: space-between;
	position: absolute;
}

.nav-right {
	display: flex;
	align-items: center;
}

.logo-nav {
	color: #fff;
	font-weight: 600;
	margin-right: 24px;
	font-size: 28px;
	letter-spacing: 0.5px;
}

.menu-items {
	display: flex;
}

.menu-items a {
	text-decoration: none;
	color: #fff;
	margin-right: 24px;
	font-size: 18px;
	letter-spacing: 0.5px;
	display: flex;
}

.logo-nav:hover {
	opacity: 70%;
}

.menu-items a:hover {
	opacity: 70%;
}

.topnav a.active {
	text-decoration: underline;
}

.nav-button {
	margin-left: 10px;
	background-color: #D78E8A;
	border: 3px solid #fff;
	color: #fff;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	padding: 8px 35px;
	border-radius: 8px;
	cursor: pointer;
	letter-spacing: 1.5px;
}

.nav-button:hover {
	background-color: #fff;
	color: #D78E8A;
}

/* Intro */

.intro {
	display: flex;
	justify-content: flex-start;
	width: inherit;
	height: 50vw;
	background-color: #D78E8A;
}

.intro-img {
	max-width: 50vw;
	max-height: 50vw;
	width: auto;
	height: auto;
	display: block;
}

.intro-right {
	display: flex;
	width: 1200px;
	justify-content: center;
	flex-direction: column;
	padding: 8vw;
}

.intro-right h1 {
	max-width: 80%;
	font-size: 60px;
	color: #fff;
	letter-spacing: 1px;
	margin: 30px 0px 20px;
}

.cta-button {
	max-width: max-content;
	background-color: #D78E8A;
	border: 3px solid #fff;
	color: #fff;
	font-family: inherit;
	font-weight: 500;
	font-size: 20px;
	padding: 8px 35px;
	border-radius: 8px;
	cursor: pointer;
}

.cta-button:hover {
	background-color: #fff;
	color: #D78E8A;
}

/* Start */

.start {
	padding: 5vw 8vw;
	height: inherit;
	display: flex;
	justify-content: center;
}

.start-left {
	justify-content: center;
	padding-right: 60px;
	display: flex;
	flex-direction: column;
	max-width: 700px;
}

.start h2 {
	margin-bottom: 14px;
}

.start p {
	color: grey;
}

.start img {
	max-width: 800px;
	max-height: 800px;
	width: auto;
	height: auto;
	display: block;
}

/* Picture section */

.pic-section {
	display: flex;
	justify-content: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15vw 10vw;
}

.title-background {
	background-color: #fff;
	opacity: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	z-index: 5;
}

.section-title {
	font-size: 60px;
	font-weight: 600;
	padding: 70px 110px;
}

/* Text section */

.text-section {
	padding: 10vw 10vw;
	display: flex;
	justify-content: flex-start;
	background-color: #D78E8A;
}

.text-container {
	justify-content: center;
	flex-direction: column;
	font-size: 20px;
	color: #fff;
	line-height: 1.7;
    column-count: 2;
    column-gap: 60px;
}

/* Video section */

.video-section {
	background-color: #fff;
	padding: 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Contact */

.contact {
	background-color: #D78E8A;
	padding: 10vw 8vw;
	display: flex;
	flex-direction: column;
}

.contact-content {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.contact-left {
	display: flex;
	justify-items: flex-start;
	margin-right: 10vw;
	width: 700px;
}

.contact-right {
	display: flex;
	flex-direction: column;
	text-align: right;
	width: 600px;
}

.contact h2 {
	color: #fff;
}

.contact a {
	color: #fff;
}

.contact a {
	font-size: 40px;
	font-weight: 500;
}

.contact a:hover {
	opacity: 70%;
}

/* Contact form */

input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 15px;
	border-radius: 6px;
	box-sizing: border-box;
	margin-top: 4px;
	margin-bottom: 16px;
	resize: vertical;
	font-size: 14px;
	font-family: inherit;
}

input[type=submit] {
	background-color: #D78E8A;
	border: 3px solid #fff;
	color: #fff;
	font-family: inherit;
	font-weight: 500;
	font-size: 18px;
	padding: 10px 40px;
	border-radius: 7px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #fff;
	color: #D78E8A
}

/* Media queries */

@media screen and (max-width: 1328px) {

	.intro-right h1 {
		max-width: 80%;
		font-size: 4vw;
		margin: 30px 0px 20px;
	}

	.cta-button {
		width: 15vw;
	}

	.start h2 {
		font-size: 30px;
	}

	p {
		font-size: 18px;
		line-height: normal+2;
	}

	.start {
		flex-direction: column;
	}

	.start img {
		margin-top: 50px;
		align-self: flex-end;
	}
}

@media screen and (max-width: 1128px) {
	.myVideo {
		max-width: 480px;
		max-height: 270px;
	}
}

@media screen and (max-width: 860px) {
	p {
		font-size: 16px;
		line-height: normal+1;
	}

	.start-left {
		display: flex;
		flex-direction: column;
		width: inherit;
		padding-right: 0;
	}

	.start {
		padding: 10vw 6vw;
	}

	.start img {
		align-self: auto;
		width: inherit;
		margin-right: 0;
	}

	.pic-section {
		padding: 200px 20px;
	}

	.section-title {
		font-size: 32px;
		padding: 20px 40px;
	}

	.contact-content {
		flex-direction: column;
	}

	.contact-left {
		width: inherit;
		margin-right: 0;
	}

	.contact-right {
		margin-top: 40px;
		width: inherit;
		text-align: left;
	}

	.contact a {
		font-size: 30px;
	}

	.text-section {
		padding: 10vw 6vw;
	}

	.myVideo {
		margin: 50px 0;
		max-width: 100%;
		max-height: 50vw;
	}

}
